/* Atoms */
@import "atoms/background.css";
@import "atoms/border.css";
@import "atoms/button.css";
@import "atoms/display.css";
@import "atoms/input.css";
@import "atoms/size.css";
@import "atoms/typo.css";

/* Molecules */

/* Organisms */
@import "organisms/navbar.css";

:root {
    --black: #1E1B18;
    --blue: #348AA7;
    --gray: #D3D4D9;
    --red: #D8315B;
    --gray-dark: #313638;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 10px;
    padding: 1rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 12px;
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--red);
}
a:hover {
    color: var(--red);
}

/* Custom CSS */