.rad-xs {
    border-radius: .5rem;
}

.rad-sm {
    border-radius: .75rem;
}

.rad-md {
    border-radius: 1rem;
}

.rad-lg {
    border-radius: 1.25rem;
}

.rad-full {
    border-radius: 100rem;
}

.border-blue {
    outline-color: var(--blue);
}